.jumbotron {
    padding-top: 35px;
    margin-bottom: 0px;
    padding-bottom: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}